*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border-box: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    font-size: 100%;
}

:root{
    --primary-color: #B9030F;
    --secondary-color: #70160E;
    --background-color: #F5F5F5;
    --text-color: #333333;
    --spacing-md: 1.5rem;
    --spacing-sm: 1rem;
}

header{
    display: flex;
    background-color: var(--secondary-color);
    color: var(--text-color);    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;  
    width: clamp(180px, 18%, 250px);
    height: 100vh;
    top: 0;
}

header #header-left{
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--spacing-md);
}

header #header-left img{
    width: 70%;
    height: auto;
    margin-bottom: var(--spacing-sm);
}

header #header-left h1{
    color: white;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    text-align: center;
    margin-bottom: var(--spacing-md);
}

header #header-left nav {
    width: 100%;
}

header #header-left nav ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

header #header-left nav ul li{
    margin-bottom: 0.75rem;
}

header #header-left nav ul li a{
    color: white;
    text-decoration: none;
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
    display: block;
    padding: 0.25rem 0;
}

header #header-left nav ul li a:hover{
    text-decoration: underline;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--spacing-md);
}

section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

section , h2{
    color: var(--text-color);
    padding-left: 1rem;
    margin: var(--spacing-sm) 0;
}

.kpi-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: var(--spacing-sm); 
    width: 100%;
    margin-bottom: var(--spacing-md);
    flex-direction: row;
}

.card{
    background-color: var(--secondary-color);
    color: white;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: var(--spacing-sm);
    text-align: center;
    height: auto;
    min-width: 150px;
    max-width: none;
    transition: transform 0.2s;
    cursor: pointer;
    flex: 1 1 calc(15% - var(--spacing-sm));
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap; 
    width: 100%;
    margin: 2rem 0;
    padding: var(--spacing-sm);
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#dashboard h1 {
    width: 100%;
    text-align: left;
    margin: 0 0 var(--spacing-sm) 1rem;
}

/* Ajustes no Canvas */
#dashboard canvas {
    flex: 1 1 calc(50% - 2rem); 
    min-width: 350px; 
    max-width: none;
    height: 350px !important; 
    margin: var(--spacing-sm);
    padding: 1rem;
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

