:root {
    --main: #70160e;
    --secundaria: #89030f;
    --terciaria: #B9030F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
}
.container-back {
    position: absolute;
    top: 0.1%;
    left: 0.1%;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.botao-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: var(--main);
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-back:hover{
    background-color: var(--secundaria);
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 80%;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 16px;
}

.left-box{
    font-size: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70%;
    background: var(--main);
    border: 2px solid black;
    border-radius: 16px;
    color: white;
    padding: 16px 16px;
}
.left-box h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.left-box p{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 80%;
}
.entrar{
    width: 200px;
    height: 40px;
    border: 40px;
    outline: 2px solid white;
    border-radius: 25px;
    border-color: white;
    background-color: var(--main);
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: white;
    cursor: pointer;
}

.entrar a{
    text-decoration: none;
    padding: 0; 
    color: white;
}

.entrar:hover{
    background-color: var(--terciaria);
    color: white;
}

.right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 2px;
    border-radius: 16px;
    padding: 4px 4px;
}

.right-box b{
font-weight: bold;
}

.email,
.senha{
    width: 100%;
    height: 30px;
    background: white;
    border: 2px solid rgb(112, 22, 14);
    border-radius: 40px;
    padding: 10px;
    font-style: italic;
}

.container-input {
    width: 58%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.label-input {
    width: 48%;
    text-align: left;
    padding: 1%;
}

.cadastrar {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: var(--main);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 500;
}
.cadastrar:hover {
    background-color: var(--terciaria);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px var black;
}

.mensagem_erro{
    display: none; 
    color: var(--terciaria);
    font-size: 0.7rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}